<!DOCTYPE html>
<html>
<head>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="socket.io-file-client.js"></script> 
	<script>
		var socket = io();
		
		function reboot() {
			socket.emit('reboot');
		}
		
		function shutdown() {
			socket.emit('shutdown');
		}

		function enableAdvanced() {
			// need to invert, dk why, maybe todo with transition/animation duration
			var enabled = !document.getElementById("advanced-checkbox").checked;
			console.log("advanced checkbox enabled", enabled);
			var div = document.getElementsByClassName("companion-advanced");
			for (var i=0; i<div.length; i++) {
				div[i].style.display = enabled ? "block" : "none";
			}
		}

		socket.on('companion version', function(data) {
			document.getElementById('companionversion1').innerHTML = data;
			console.log('got version in header')
		});
		socket.emit('get companion version');
	</script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">ArduSub Companion Computer Setup</a>
		<p id="version" class="text">
			Companion Version:
			<span id="companionversion1"></span>
		</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto" align="right">
					<li><a class="nav-link" href="/network">Network</a></li>
					<li><a class="nav-link" href="/system">System</a></li>
					<li><a class="nav-link" href="/camera">Camera</a></li>
					<li><a class="nav-link" href="/routing">Routing</a></li>
          </ul>
		  <form class="navbar-form navbar-right" align="right">
					<button onclick="reboot()" class="btn btn-primary btn-sm navbar-btn">Reboot</button>
					<button onclick="shutdown()" class="btn btn-danger btn-sm navbar-btn">Shutdown</button>
				<ul class="toggle">
					<label class="switch">
						<input id='advanced-checkbox' type="checkbox">
						<span class="slidernew round" onclick="enableAdvanced()"></span>
					</label>
					Enable Advanced Options
				</ul>
			</form>
        </div>
      </nav>
    </header>

	<div class="container">
