export COMPANION_DIR=/home/pi/companion

# fix screen for x86/arm weirdness
if screen -ls | grep -q '777'; then
   chmod 777 /run/screen
fi

FILE=$COMPANION_DIR/tools/100MB.file
if [ ! -f "$FILE" ]; then
    echo "creating 100mb test file.."
    dd if=/dev/zero of=$FILE bs=1048576 count=100
fi

# copy default parameters if neccessary
cd $COMPANION_DIR/params

for default_param_file in *; do
    if [[ $default_param_file == *".param.default" ]]; then
        param_file="/home/pi/"$(echo $default_param_file | sed "s/.default//")
        if [ ! -e "$param_file" ]; then
            cp $default_param_file $param_file
        fi
    fi
done

if [ ! -f /home/pi/.updating ]; then
	sudo python $COMPANION_DIR/tools/ping_enumerator.py || true
	if [ -d /dev/serial/ping ]; then
		screen -dm -S pingproxy pingproxy.py --device $(ls -d /dev/serial/ping/* | head -1)
		# Uncomment the next line to enable Ping1D as a range finder
		screen -dm -S pingmav python $COMPANION_DIR/tools/ping1d_mavlink_driver.py
	fi
	screen -dm -S mavproxy $COMPANION_DIR/tools/telem.py
	screen -dm -S video $COMPANION_DIR/tools/streamer.py 
	screen -dm -S webui $COMPANION_DIR/scripts/start_webui.sh
	screen -dm -S webterminal $COMPANION_DIR/scripts/start_webterminal.sh
	screen -dm -S commrouter $COMPANION_DIR/tools/comm_router.py
	screen -dm -S audio $COMPANION_DIR/tools/audio.py
	screen -dm -S file-manager node --harmony $COMPANION_DIR/br-webui/node_modules/node-file-manager/lib/index.js -p 7777 -d /
	screen -dm -S nmearx $COMPANION_DIR/tools/nmea-receiver.py
	screen -dm -S wldriver $COMPANION_DIR/tools/underwater-gps.py --ip=192.168.2.94 --port=80
else
	echo 'UPDATE FAILED!' >> /home/pi/.update_log
	rm -f /home/pi/.updating
	if [ -d /home/pi/.companion ]; then
		rm -rf $COMPANION_DIR
		cp -r /home/pi/.companion $COMPANION_DIR
	fi
	echo 'Trying to run again...' >> /home/pi/.update_log
	$COMPANION_DIR/.companion.rc
fi
while true; do sleep 2; done