<html>
<head>
<head>
    <meta charset="utf-8">
    <!-- Flight Indicators library styles -->
    <link rel="stylesheet" type="text/css" href="flightindicators.min.css" />
    <title>jQuery Flight Indicators Plugin</title>
    <style>

    </style>
</head>
</head>
<body>
<span style="position: absolute; bottom:0; left:0;" id="attitude"></span>
<span style="position: absolute; bottom:0; right:0;" id="heading"></span>
<span id="variometer"></span>
<span id="airspeed"></span>
<span id="altimeter"></span>

</body>
<!-- Importing jQuery library -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<!-- Importing the FlightIndicators library -->
<script src="jquery.flightindicators.min.js"></script>

<script>
var attitude = $.flightIndicator('#attitude', 'attitude', {roll:0, pitch:0, size:200, showBox : false});
var heading = $.flightIndicator('#heading', 'heading', {heading:150, showBox:false});

// Update at 20Hz
var increment = 0;
setInterval(function() {
$.getJSON("/rest/mavlink/ATTITUDE").success(function(data){
    //console.log(data.roll); // will contain all data (and display it in console)
    attitude.setRoll(data.roll * 180 / Math.PI);
    attitude.setPitch(data.pitch * 180 / Math.PI);
    heading.setHeading(data.yaw * 180 / Math.PI);
})
}, 100);
</script>
</html>
